<div style="line-height:24px;font-size:13px;">
    <p><span style="color:#3eae5f"> <%=name%> </span> 说：</p>
    <p ><%-text%></p>
    <p style="font-size:12px;line-height:12px;"><a style="color:#b3b3b1;text-decoration:none;" href="<%=siteUrl%>" target="_blank"><%=siteUrl%></a></p>
</div>